<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 am - 11:00 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.github.io/organization-genomics/index.html" target="blank">Project Organization and Management</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 am - 11:15 am</td>        <!-- time    -->
        <td>Break (15 minutes)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:15 am - 12:15 pm</td>        <!-- time    -->
		<td><a href="https://datacarpentry.github.io/organization-genomics/index.html" target="blank">Project Organization and Management</a>(continued)<br>
		<a href="https://datacarpentry.github.io/shell-genomics/" target="blank">Introduction to the Command Line for Genomics</a>
		</td>        <!-- content -->
      </tr>
	  <tr>               <!-- row 3   -->
        <td>12:15 pm - 12:30 pm</td>        <!-- time    -->
		<td>Break (15 minutes)</td>
	  </tr>
	  <tr>
	    <td>12:30 pm - 1:30 pm</td>
        <td><a href="https://datacarpentry.github.io/shell-genomics/" target="blank">Introduction to the Command Line for Genomics</a></td>        <!-- content -->
      </tr>
	  <tr>
	    <td>1:30 pm - 2:00 pm</td>
		<td>Day 1 wrap-up / Q&amp;A / Spare Time</td>
      </tr>		
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>10:00 am - 11:00 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.github.io/shell-genomics/" target="blank">Introduction to the Command Line for Genomics</a> (cont'd)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 am - 11:15 am</td>        <!-- time    -->
        <td>Break (15 minutes)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:15 am - 12:15 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.github.io/shell-genomics/" target="blank">Introduction to the Command Line for Genomics</a> (continued)</td>        <!-- content -->
      </tr>
	  <tr>               <!-- row 3   -->
        <td>12:15 pm - 12:30 pm</td>        <!-- time    -->
        <td>Break (15 minutes)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:30 pm - 1:30 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.github.io/shell-genomics/" target="blank">Introduction to the Command Line for Genomics</a> (continued)</td>        <!-- content -->
      </tr>
	  <tr>
	    <td>1:30 pm - 2:00 pm</td>
		<td>Day 2 wrap-up / Q&amp;A / Spare Time</td>
      </tr>	
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>10:00 am - 11:00 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.github.io/wrangling-genomics/" target="blank">Data Wrangling and Processing</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 am - 11:15 am</td>        <!-- time    -->
        <td>Break (15 minutes)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:15 am - 12:15 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.github.io/wrangling-genomics/" target="blank">Data Wrangling and Processing</a> (cont'd)</td>        <!-- content -->
      </tr>
	  <tr>               <!-- row 3   -->
        <td>12:15 pm - 12:30 pm</td>        <!-- time    -->
        <td>Break (15 minutes)</td>        <!-- content -->
      </tr>
	  <tr>               <!-- row 3   -->
        <td>12:30 pm - 1:30 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.github.io/wrangling-genomics/" target="blank">Data Wrangling and Processing</a> (cont'd)</td>        <!-- content -->
      </tr>
	  <tr>
	    <td>1:30 pm - 2:00 pm</td>
		<td>Day 3 wrap-up / Q&amp;A / Spare Time</td>
      </tr>	
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
            <tr>               <!-- row 2   -->
        <td>10:00 am - 11:00 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.github.io/wrangling-genomics/" target="blank">Data Wrangling and Processing</a> (cont'd)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 am - 11:15 am</td>        <!-- time    -->
        <td>Break (15 minutes)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:15 am - 12:15 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.github.io/wrangling-genomics/" target="blank">Data Wrangling and Processing</a> (cont'd)</td>        <!-- content -->
      </tr>
	  <tr>               <!-- row 3   -->
        <td>12:15 pm - 12:30 pm</td>        <!-- time    -->
        <td>Break (15 minutes)</td>        <!-- content -->
      </tr>
	  <tr>               <!-- row 3   -->
        <td>12:30 pm - 1:30 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.github.io/wrangling-genomics/" target="blank">Data Wrangling and Processing</a> <br>
		<em>or</em> if time permits, <a href="https://datacarpentry.github.io/cloud-genomics/" target="blank">Introduction to Cloud Computing for Genomics</a></td>        <!-- content -->
      </tr>
	  <tr>               <!-- row 3   -->
        <td>1:30 pm - 2:00 pm</td>        <!-- time    -->
        <td>Workshop Wrap-up</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
